:host{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 0%;
}

/*BANNER*/
.endorseBannerHeaderTitleContainer{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.endorseBanner{
    height: 50px;
    background-color: rgb(31,56,98);
    color: white;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.endorseBanner i{
    color: white;
}
.IBI{
    font-size: 25px;
}

.endorseBannerLogo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
}
.endorseImgContainer{   
    display: flex;
    align-items: center;
}
.endorseImgContainer img{
    height: 30px;
    object-fit: cover; 
}
.endorseUser, .fas{
    padding: 0px 10px;
    font-size: 12px;
}
/*Breadcrumb*/
.endorseBreadcrumbContainer{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding: 5px 0px;
    list-style: none;
    background-color: white;
    margin: 0px 20px;
}
ul.endorseBreadcrumbContainer{
    font-size: 14;
    background-color: #fafafa;
}
ul.endorseBreadcrumbContainer li{
    font-size: 14px;
}
.endorseBreadcrumbContainer a{
    color: black;
    text-decoration: none;
    padding: 3px;
}
.endorseBreadcrumbContainer a:hover{
    border-radius: 5px;
}
.endorseEventLogs{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 30px;
}
.EndorseEventLogsBtn{
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: rgb(143, 188, 143);
}
.EndorseEventLogsBtn:hover{
    background-color: seagreen;
}
ul.endorseBreadcrumbContainer li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

/*DROPDOWN*/

.endorseUserAcc{
    display: flex;
    align-items: center;
}
.fa-ellipsis-v{
    color: white;
    border: none;
    cursor: pointer;
}
 

.active:active{
    text-decoration: underline;
}
.header a{
    margin-right: 5px;
}
.endorseScrnTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    background-color: white;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}
.endorseScrnTitleContainer p{
    padding: 2px;
    margin: 5px 10px;
}
.endorsePERBCTitle{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.endorseTransNo{
    padding: 3px 5px;
    background-color: royalblue;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
}
.endorseScreenID{
    padding: 3px 5px;
    background-color: royalblue;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
}

.endorsePolTransHisTitle p{
    border-bottom: 1px solid black;
    font-size: 16px;
    margin-bottom: 10;
}
.PTH{
    display: flex;
    margin: 0% 5%;
    text-align: left;
}
/* Display Data Entry */

/*Policy Record History Table */
.div1{
    overflow: auto;
}
.div1 th:nth-child(1),
.div1 td:nth-child(1){
    position: sticky;
    left: 0px;
    background-color: whitesmoke;
}
.div1 th:nth-child(2),
.div1 td:nth-child(2){
    position: sticky;
    left: 42px;
    background-color: whitesmoke;
}
.div1 th:nth-child(3),
.div1 td:nth-child(3){
    position: sticky;
    left: 126px;
    background-color: whitesmoke;
}
.div1 th:nth-child(4),
.div1 td:nth-child(4){
    position: sticky;
    left: 239px;
    background-color: whitesmoke;
}
.div1 th:nth-child(5),
.div1 td:nth-child(5){
    position: sticky;
    left: 336px;
    background-color: whitesmoke;
}
.div1 th:nth-child(6),
.div1 td:nth-child(6){
    position: sticky;
    left: 409px;
    background-color: whitesmoke;
}
.div1 th:nth-child(7),
.div1 td:nth-child(7){
    position: sticky;
    left: 487px;
    background-color: whitesmoke;
}
.endorsePolRecordGHisContainer{
    margin: 0 50px 20px;
}
.endorsePolRecordGHisContainer p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}
.mat-table.mat-elevation-z82{
    width: 100%;
    table-layout:fixed;
    background-color: white;
}

.mat-elevation-z82{
    width: 100%;
    table-layout: fixed;
    background-color: white;
}
th.mat-header-cell{
    text-align: center;
    color: black;
    font-size: 12px;
    padding-right: 8px;
}
th{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
tr.mat-header-row{
    height: 40px;
}
.mat-header-cell{
    font-family: 'Poppins', sans-serif;
}
.mat-cell{
    font-family: 'Poppins', sans-serif;
}
td.mat-cell{
    padding: 0 10px;
    font-size: 11px;
    border-bottom: 1px solid lightgray;
}
tr.mat-row, tr.mat-footer-row{
    height: 36px;
}
.pdf-btn{
    color: orange;
    font-size: 13px;
    border: none;
}

.pdf-btn:hover{
    background-color: rgb(247, 242, 242);
}
.vgl-btn, .fa-table{
    font-size: 16px;

}
.vgl-btn{
    color: rgb(129, 129, 129);
}
.vgl-btn:hover{
    background-color: rgb(247, 242, 242);
}

::ng-deep.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    background-color: #fff;
    padding: 0 10px;
}
.mat-footer-cell{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    padding: 0 10px;
}
/*Policy Record Coverage Table */

.endorsePolRecordCovContaier{
    margin: 0 50px 50px;
}
.endorsePolRecordCovContaier p{
    margin-bottom: 0;
    font-size: 14px;
}
.mat-elevation-z83{
    width: 100%;
    table-layout: fixed;
    background-color: white;
   
}

.mat-elevation-z83{
    width: 100%;
    table-layout: fixed;
    background-color: white;
}


/*BUTTON*/

.endorseBtnContainer{
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0px;
    max-width: 95%;
    background-color: white;
    padding: 20px 30px 20px 40px;
}
.generateBtn, .endorseGenerateBtn{
    margin-right: 20px;
}

.endorseCloseBtn{
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(255, 0, 0, 0.7);
    color: white;
}
.endorseCloseBtn:hover{
    background-color: red;
}

.fa-times-circle, .fa-file-pdf, .fa-file-excel{
    font-style: 10px;
    padding: 3px 3px;
}

.endorseGenerateBtn{
    padding: 0px 5px 0x 5x;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(250, 85, 9);
    color: white;
}
.endorseGenerateBtn:hover{
    background-color: rgb(204, 65, 15);
}

.endorseExcelBtn{
    padding: 0px 5px 0x 5x;;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: green;
    color: white;
}
.endorseExcelBtn:hover{
    background-color: rgb(8, 163, 8);
}

@media only screen and (max-width: 720px) {
    .endorseBtnContainer{
        padding: 20px 0px 20px 40px;
        max-width: 90%;
    }
    .endorsePolTransHisTitle p{
        margin-top: 25%;
    }
    .endorseCompanyName{
        font-size: calc(0.625rem);
    }
    .endorseBreadcrumbContainer{
        align-items: center;
    }
    .endorseBreadcrumbContainer a{
        padding: 0px;
        font-size: 12px;
    }
    .endorseScrnTitleContainer{
        padding: 5px 0px;
    }
    .PTH{
        overflow: auto;
    }

}
@media only screen and (max-width: 500px) {
    .endorseBtnContainer{
        padding: 10px 40px;
        max-width: 100%;   
    }
    .endorseGenerateBtn{
        margin-right: 3px;
    }
    .endorseCloseBtn{
        padding-right: 5px 10px;
    }
    .endorseCompanyName{
        font-size: 0.625rem;
    }
    .endorseCloseBtn, .endorseGenerateBtn, .endorseExcelBtn{
        font-size: 10px;
        padding: 0px 5px;
    }
    .endorsePolTransHisTitle p{
        margin-top: 40%;
    }
   .endorseBreadcrumbContainer{
       align-items: center;
   }
   .TPH-T{
    display: flex;
    justify-content: space-between;
    overflow: auto;
    text-align: center;
}
    .endorseScrnTitleContainer
    {
        padding: 5px 0px;
    }
    .endorsePolTransHisContainer{
        overflow: auto;
    }
    .endorsePolTransHisContainer{
        flex-direction: column;
    }
    .firstColumn{
        min-width: 300px;
        max-width: 500px;   
    }
    .EndorseEventLogsBtn{
        display: none;
    }
    .mat-form-field.Refno{
        margin-top: 0;
    }
}

.endorsePolTransHisContainer{
    display:flex;
    margin: 0 20px;
}
.columnContainer{
    border-radius: 4px; 
    width: fit-content; 
    margin: 0px 20px;
}
.firstColumn{
    min-width: 150px;
    width: 230px;
    margin: 0px 5px;
}
.secondColumn{
    min-width: 150px;
    width: 320px;
    margin: 0px 5px;
}
.thirdColumn{
    min-width: 150px;
    width: 230px;
    margin: 0px 5px;
}
.fourthColumn{
    min-width: 150px;
    width: 320px;
    margin: 0px 5px;
}
  
.endorseMatFormFldContainer{
    width: 100%;
}
.Refno{
    width: 100%;
    margin-top: 40px;
}
::ng-deep .mat-form-field{
    width: 50%;
}
::ng-deep .mat-form-field-wrapper{
    padding: 0px;
}