<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/app/app.component.css">
    <script src="https://kit.fontawesome.com/6a7678e057.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="./script.JS"></script>
</head>
<body>
    <div class="main">
        <div class="B-H-T">
        <div class="BANNER">
            <div class="BL">
              <div class="L-T-O" style="display: flex;">
                    <div class="LG-CMPN">
                      <a href="./app.component.html"><img src="assets/img-src/bg.png" alt=""></a>
                    </div>
                </div>
                    <div class="CN">
                        <span class="CN" style="font-size: 1.5625rem">Integrated&nbsp;Insurance&nbsp;Brokerage&nbsp;System&nbsp;</span>
                        <span class="CN" style="font-size: 13px;">v5</span>
                    </div>     
                    <div class=" USRDRPDWN">
                            <span class="USR">Juan&nbsp;Dela&nbsp;Cruz</span>
                            <div class="dropdown">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                  <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>
                        </div>
            </div>
        </div>
                <ul class="breadcrumb">
                    <li><a href="./SCR4104013.html">Home</a></li>
                    <li><a href="./SCR4104013.html">Marketing</a></li>
                    <li><a href="./SCR4104013.html">Transaction</a></li>
                    <li style="font-family: 'Poppins', sans-serif;"><a class="active" href="./Endorsement-SCR4104013.html "><b>Request&nbsp;for&nbsp;Endorsement&nbsp;By&nbsp;Client</b></a></li>
                        <div class="EVNTLGS">
                          <button class="evntlgs" mat-raised-button>Event&nbsp;Logs</button>
                        </div>
                </ul>
            <div class="title-header">
                <span class="TN">Trans.&nbsp;No.&nbsp;1742</span>
                <p class="PERBC">Process&nbsp;Endorsement&nbsp;Requested&nbsp;By&nbsp;Client</p>   
                <span class="SCRNID">Screen&nbsp;ID:&nbsp;SCR4104013</span>
            </div>
        </div>
 
              <div class="PTH-title" style="margin: 150px 50px 0px;">
                  <p>Policy Transaction History</p>
              </div>
              <div class="main-form-container">
                <div class="fc">
                    <form class="ff">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label><b>Policy&nbsp;Trans&nbsp;No:</b></mat-label>
                        <input matInput value="48312" disabled="true">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label><b>Business:</b></mat-label>
                        <input matInput value="New" disabled="true">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label><b>Status:</b></mat-label>
                        <input matInput value="Valid" disabled="true">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label><b>Policy&nbsp;No:</b></mat-label>
                        <input matInput value="GLTEST21ComAdj_CRG" disabled="true">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label><b>For&nbsp;the&nbsp;Account&nbsp;Of:</b></mat-label>
                        <input matInput value="Name04076&nbsp;C.&nbsp;Axx" disabled="true">
                      </mat-form-field>
                    </form>
                </div>

                <div class="fc">
                  <form class="sf">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label><b>Assured/Policy&nbsp;Holder:</b></mat-label>
                      <input matInput value="Spouse Name04076&nbsp;and&nbsp;Name04077&nbsp;Axx" disabled="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label><b>Insured/Principal:</b></mat-label>
                      <input matInput value="(AIPC)ASIA&nbsp;INSURANCE&nbsp;(PHILIPPINES)&nbsp;Corporation" disabled="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label><b>Insurance&nbsp;Line/Type:</b></mat-label>
                      <input matInput value="ACCIDENT-Group Personal Accident&nbsp;(GPA)" disabled="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label><b>Coverage&nbsp;Priod:</b></mat-label>
                      <input matInput value="01\01\2022-12\31\2022" disabled="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label><b>TSI:</b></mat-label>
                      <input matInput value="Php&nbsp;1,000,000.00" disabled="true">
                    </mat-form-field>
                  </form> 
              </div>
       
            
              <div class="fc">
                <form class="tf">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label><b>Branch:</b></mat-label>
                    <input matInput value="(HO)&nbsp;Head&nbsp;Office" disabled="true">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label><b>Busines&nbsp;Unit:</b></mat-label>
                    <input matInput value="(EMP)&nbsp;Captive&nbsp;Indivual&nbsp;Client" disabled="true">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label><b>Marketing&nbsp;AO:</b></mat-label>
                    <input matInput value="(MARY&nbsp;ANN)&nbsp;Mary&nbsp;Ann&nbsp;M&nbsp;Vasallo" disabled="true">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label><b>Referror:</b></mat-label>
                    <input matInput value="(None)" disabled="true">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label><b>Bank&nbsp;Branch/Deparment:</b></mat-label>
                    <input matInput value="(None)" disabled="true">
                  </mat-form-field>
                </form> 
            </div>
            <div class="fc">
              <form class="frf">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label><b>Bank&nbsp;Group/Division:</b></mat-label>
                  <input matInput value="(None)" disabled="true">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label><b>Business&nbsp;Source:</b></mat-label>
                  <input matInput value="(AIPC)ASIA&nbsp;INSURANCE&nbsp;(PHILIPPINES)&nbsp;Corporation" disabled="true">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label><b>Mortgagee/Obligee:</b></mat-label>
                  <input matInput value="ACCIDENT-Group Personal Accident&nbsp;(GPA)" disabled="true">
                </mat-form-field>
                <mat-form-field class="Refno" appearance="fill">
                  <mat-label><b >Reference&nbsp;No.:</b></mat-label>
                  <input matInput value="0001006894-11" disabled="true">
                </mat-form-field>
              </form> 
          </div>
          </div>
          
        

<!--Policy Record Histor Table-->
            <div class="PRH">
            <p mat-dialog-title>Policy Record History</p>
                <div class="div1">
                    <table mat-table [dataSource]="transactions" class="mat-elevation-z81" style="width: 100%;">
                      <!-- Number -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef width = "10px"> # </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let transaction"> {{transaction.id}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                    
                      <!-- View PDF -->
                      <ng-container matColumnDef="vpdf">
                        <th style="padding-left: 5px;" mat-header-cell *matHeaderCellDef width = "30px"> View&nbsp;PDF </th>
                        <td mat-cell *matCellDef="let transaction">
                            <button class="pdf-btn" mat-button><i style="font-size: 15px;" class='fas fa-file-pdf'></i></button>
                          {{transaction.vpdf}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                    
                      <!-- VIew Transaction -->
                      <ng-container matColumnDef="vt">
                        <th mat-header-cell *matHeaderCellDef width = "90px" style="padding: 0 5px;"> View&nbsp;Transaction </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let transaction"> <a href="">{{transaction.vt}}</a></td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                    
                      <!-- View GL Entry -->
                      <ng-container matColumnDef="vgle">
                        <th mat-header-cell *matHeaderCellDef width = "50px"> View&nbsp;GL&nbsp;Entry </th>
                        <td style="text-align: center; border-right: solid 1px lightgray;" mat-cell *matCellDef="let transaction"> 
                          <button class="vgl-btn" mat-button><mat-icon class="fas fa-table"></mat-icon></button>
                          {{transaction.vgle}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="trd">
                        <th mat-header-cell *matHeaderCellDef width = "45px"> Trans.&nbsp;Ref. Date</th>
                        <td style="text-align: center;" mat-cell *matCellDef="let transaction"> {{transaction.trd}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="trn">
                        <th mat-header-cell *matHeaderCellDef width = "50px"> Trans.&nbsp;Ref.&nbsp;No.</th>
                        <td style="text-align: center;" mat-cell *matCellDef="let transaction"> {{transaction.trn}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="td">
                        <th mat-header-cell *matHeaderCellDef width = "45px"> Trans.&nbsp;Date </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let transaction"> {{transaction.td}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="tt">
                        <th mat-header-cell *matHeaderCellDef width = "45px"> Trans&nbsp;Type</th>
                        <td style="text-align: left;" mat-cell *matCellDef="let transaction"> {{transaction.tt}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="bn">
                        <th mat-header-cell *matHeaderCellDef width = "45px"> Billing&nbsp;No.</th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.bn}} </td>
                        <td mat-footer-cell *matFooterCellDef><b>Closing&nbsp;Balance</b></td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="bd">
                        <th mat-header-cell *matHeaderCellDef width = "45px"> Billing&nbsp;Date</th>
                        <td style="text-align: center;" mat-cell *matCellDef="let transaction"> {{transaction.bd}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="bs">
                        <th mat-header-cell *matHeaderCellDef width = "10xp"></th>
                        <td style="text-align: left;" mat-cell *matCellDef="let transaction"> {{transaction.bs}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>       

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="prem">
                        <th mat-header-cell *matHeaderCellDef width =  "45px"> Premium </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.prem | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCost() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="chrgs">
                        <th mat-header-cell *matHeaderCellDef width =  "45px"> Charges </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.chrgs | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostcharges() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="gar">
                        <th mat-header-cell *matHeaderCellDef width =  "55px" style="padding: 0 5px;"> Gross&nbsp;A/R </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.gar | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostgrossAR() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="gc">
                        <th style=" padding: 0 5px;" mat-header-cell *matHeaderCellDef width = "20px"> Gross<br>Commision </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.gc | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostgrosscomission() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="nc">
                        <th style=" padding: 0 5px;" mat-header-cell *matHeaderCellDef width = "50px"> Net<br>Commision </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.nc | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostnetcomission() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="ov">
                        <th mat-header-cell *matHeaderCellDef width = "50px"> Output&nbsp;Vat </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.ov | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostoutputvat() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="wt">
                        <th mat-header-cell *matHeaderCellDef width = "50px"> Wtax </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.wt | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostwtax() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="ra">
                        <th mat-header-cell *matHeaderCellDef width = "70px"> Remmitable&nbsp;Amt </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.ra | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostremmitableamount() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="cwt">
                        <th mat-header-cell *matHeaderCellDef width = "50px"> CWT </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.cwt | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostCWT() | currency:" ":"symbol"}}</td>
                      </ng-container>

                       <!-- Symbol Column -->
                       <ng-container matColumnDef="nd">
                        <th mat-header-cell *matHeaderCellDef width = "50px"> Next&nbsp;Due </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.nd | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostnextdue() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="dscnt">
                        <th style=" padding: 0 5px;" mat-header-cell *matHeaderCellDef width = "50px"> Discount </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let transaction"> {{transaction.dscnt | currency:" ":"symbol"}} </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalCostdiscount() | currency:" ":"symbol"}}</td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="pgl">
                        <th mat-header-cell *matHeaderCellDef width = "50px"> Posted&nbsp;GL? </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let transaction"> {{transaction.pgl}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
  
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

                    </table>
                </div>
            </div>
          

            <div class="PRC" style="margin-top: 20px;">
              <p mat-dialog-title style="text-align: center; color:black;">Policy Record Coverage</p>
                  <div style="overflow: auto;">
                      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z81" style="width: 100%;">

          
                      <!-- Number-->
                      <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef width = "10px"> # </th>
                        <td  style="text-align: center;" mat-cell *matCellDef="let element"> {{element.Id}} </td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef width = "25px"> Type </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.type}} </td>
                      </ng-container>
                    
                      <!-- Weight Column -->
                      <ng-container matColumnDef="cvrg">
                        <th mat-header-cell *matHeaderCellDef width = "60px"> Coverage </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.cvrg}} </td>
                      </ng-container>
                    
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="cd">
                        <th mat-header-cell *matHeaderCellDef width = "120px"> Coverage&nbsp;Description </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.cd}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="blank">
                        <th mat-header-cell *matHeaderCellDef width = "30px"> </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.blank}} </td>
                      </ng-container>
                      
                       <!-- Symbol Column -->
                       <ng-container matColumnDef="ca">
                        <th mat-header-cell *matHeaderCellDef width = "80px"> Coverage&nbsp;Amount </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.ca | currency:" ":"symbol"}} </td>
                      </ng-container>

                       <!-- Symbol Column -->
                       <ng-container matColumnDef="pa">
                        <th mat-header-cell *matHeaderCellDef width = "80px"> Premium&nbsp;Amount </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.pa | currency:" ":"symbol"}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="cmmsn">
                        <th mat-header-cell *matHeaderCellDef width = "60px"> Commision </th>
                        <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.cmmsn | currency:" ":"symbol"}} </td>
                      </ng-container>

                       <!-- Symbol Column -->
                       <ng-container matColumnDef="premrate">
                        <th mat-header-cell *matHeaderCellDef width = "60px"> Premium&nbsp;Rate </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.premrate | currency:" ":"symbol"}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="cmmsnrate">
                        <th mat-header-cell *matHeaderCellDef width = "60px"> Commision&nbsp;Rate </th>
                        <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.cmmsnrate | currency:" ":"symbol"}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="rmrks">
                        <th mat-header-cell *matHeaderCellDef width = "60px"> Remarks </th>
                        <td mat-cell *matCellDef="let element"> {{element.rmrks}} </td>
                      </ng-container>
                      
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>    
                    </div>
                  </div>
   

         
            <div class="BTNS">
                <div class="CLS-BTN">
                  <button class="cls" mat-raised-button><i class="fas fa-times-circle"></i>Close</button>
                </div>
                
                <div class="GRNT-BTN">
                    <button class="pdf" mat-raised-button><i class="fas fa-file-pdf"></i>Generate&nbsp;PDF</button>
                    <button class="excel" mat-raised-button><i class="fas fa-file-excel"></i>Generate&nbsp;Excel</button>
                </div>
              </div>
            
    
      </div> 
      
</body>
</html>

